{% load humanize %}

<div class="row mb-4">
    <div class="col">
        <div class="text-center">
            <h6 class="text-muted">10th Percentile</h6>
            <h4>${{ percentiles.p10|floatformat:0|intcomma }}</h4>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <h6 class="text-muted">25th Percentile</h6>
            <h4>${{ percentiles.p25|floatformat:0|intcomma }}</h4>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <h6 class="text-muted">Median (50th)</h6>
            <h4 class="text-primary">${{ percentiles.p50|floatformat:0|intcomma }}</h4>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <h6 class="text-muted">75th Percentile</h6>
            <h4>${{ percentiles.p75|floatformat:0|intcomma }}</h4>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <h6 class="text-muted">90th Percentile</h6>
            <h4>${{ percentiles.p90|floatformat:0|intcomma }}</h4>
        </div>
    </div>
</div>
